<script type="text/javascript">
  $(document).ready(function() {
    if ($("#looking_for_residence").is(":checked")) {
      $("#address").show();
    } else {
      $("#address").hide();
    }
  });

  $(function () {
    $("#looking_for_residence").click(function () {
      if ($(this).is(":checked")) {
        $("#address").show();
      } else {
        document.getElementById("street_address").value = "";
        document.getElementById("city").value = "";
        document.getElementById("postal_code").value = null;
        var myselect=document.getElementById("state");
        myselect.selectedIndex = 0;
        $("#address").hide();
      }
    });
  });


</script>


<div class="preferencesform">
  <%= form_for([@user, @preferences], url: user_preferences_path(@user)) do |f| %>
      <div class="actions" style="float:right; margin-top:-25px; margin-right:-25px;">
        <%= link_to "X", home_index_path, {:class=>"btn btn-default"} %>
      </div>
      <% if preferences.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(preferences.errors.count, "error") %> prohibited these preferences from being saved:</h2>

            <ul>
              <% preferences.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>



      <div class="field">
        <%= f.label :gender, "What is your preferred roommate gender?" %>
        <%= f.select :gender, Preferences.preferencesGender, class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :smoker, "Do you prefer a roommate that smokes?" %>
        <%= f.select :smoker, Preferences.preferencesSmoker, class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :pet_friendly, "Do you prefer a roommate with a pet?" %>
        <%= f.select :pet_friendly, Preferences.preferencesPetFriendly, class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :cleanliness_level, "How clean do you prefer your roommate to be?" %>
        <%= f.select :cleanliness_level, Preferences.preferencesCleanlinessLevel, class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :outgoingness_level, "How outgoing do you prefer your roommate?" %>
        <%= f.select :outgoingness_level, Preferences.preferencesOutgoingnessLevel, class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :quietness_level, "How quiet do you want your roommate to be?" %>
        <%= f.select :quietness_level, Preferences.preferencesQuietnessLevel, class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :looking_for_residence, "A roommate with a residence." %>
        <%= f.check_box :looking_for_residence,:id=> "looking_for_residence"%>
      </div>

      <div id="address">
        <div>
          <label>Close to this location:</label>
        </div>
        <div class="field">
          <%= f.label :street %>
          <%= f.text_field :street ,:id => "street_address"  %>
        </div>

        <div class="field">
          <%= f.label :city %>
          <%= f.text_field :city,:id => "city" %>
        </div>

        <div class="field">
          <%= f.label :state %>
          <%= f.select(:state, [' ' ,'AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DE', 'FL', 'GA',
                                'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME', 'MI', 'MN', 'MO',
                                'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM', 'NV', 'NY', 'OH', 'OK',
                                'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VA', 'VT', 'WA', 'WI', 'WV',
                                'WY'], {},:id =>"state")
          %>
        </div>

        <div class="field">
          <%= f.label :postal_code %>
          <%= f.text_field :postal_code , :id => "postal_code"%>
        </div>
      </div>

      <div class="actions">
        <%= f.submit %>
      </div>

      <% if @preferences.street? %>
          <%= image_tag "http://maps.googleapis.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@preferences.latitude}%2C#{@preferences.longitude}&key=AIzaSyD21LGyl1gmCSllj3pjilRZaALCO5ZaA_0" %>
      <% end %>

  <% end %>
</div>

