<%= form_for([@user,@profile,@image]) do |f| %>
  <% if image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :caption %>
    <%= f.text_field :caption %>
  </div>

    <%= form_for @picture, url: pictures_path, html: { multipart: true } do |form| %>
        <%= form.file_field :avatar %>
    <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
