<%= form_for([@user,@profile], url: user_profile_path(@user)) do |f| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_name %>
    <%= f.text_field :user_name %>
  </div>

  <div class="field">
    <%= f.label :gender, "What is your gender?"%>
    <%= f.select :gender, ['Male', 'Female', 'Non-Binary'], class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :is_a_smoker, "Do you smoke?" %>
    <%= f.select :is_a_smoker, [['No', false],['Yes']], class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :pet_friendly, "Do you have any pets that will be living with you?" %>
    <%= f.select :pet_friendly, [['No', false],['Yes', true]], class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :cleanliness_level, "How clean are you?" %>
    <%= f.select :cleanliness_level, [['Some might call me a slob', 1],['A bit messy', 2],['Average', 3],
    ['Nice and tidy', 4], ['Neat. Freak.', 5]], class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :outgoingness_level, "How outgoing are you?" %>
    <%= f.select :outgoingness_level, [['Not even at the party', 1],['Wallflower', 2],
    ['I stick to the people I know', 3],['I like meeting new people', 4],
    ['I am the loudest one there', 5]], class: "form-control" %>

  </div>

  <div class="field">
    <%= f.label :quietness_level, "How quiet are you?" %>
    <%= f.select :quietness_level, [["You probably won't know I'm home", 1],['On the quieter side', 2], 
    ["Somewhere in the middle. Considerate",3],['I like things a big louder', 4],
    ['I have awesome taste in music, and I want to share it with EVERYBODY', 5]], class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :has_residence_already, "Do you already have a residence?" %>
    <%= f.select :has_residence_already, [['No', false],['Yes', true]], class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :street %>
    <%= f.text_field :street %>
  </div>

  <div class="field">
    <%= f.label :city %>
    <%= f.text_field :city %>
  </div>

  <div class="field">
    <%= f.label :state %>
    <%= f.text_field :state %>
  </div>

  <div class="field">
    <%= f.label :postal_code %>
    <%= f.number_field :postal_code %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
