<p id="notice"><%= notice %></p>

<h1>Profiles</h1>

<table>
  <thead>
    <tr>
      <th>User name</th>
      <th>Gender</th>
      <th>Is a smoker</th>
      <th>Pet friendly</th>
      <th>Cleanliness level</th>
      <th>Outgoingness level</th>
      <th>Quietness level</th>
      <th>Has residence already</th>
      <th>Street</th>
      <th>City</th>
      <th>State</th>
      <th>Postal code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @profiles.each do |profile| %>
      <tr>
        <td><%= profile.user_name %></td>
        <td><%= profile.gender %></td>
        <td><%= profile.is_a_smoker %></td>
        <td><%= profile.pet_friendly %></td>
        <td><%= profile.cleanliness_level %></td>
        <td><%= profile.outgoingness_level %></td>
        <td><%= profile.quietness_level %></td>
        <td><%= profile.has_residence_already %></td>
        <td><%= profile.street %></td>
        <td><%= profile.city %></td>
        <td><%= profile.state %></td>
        <td><%= profile.postal_code %></td>
        <td><%= link_to 'Show', profile %></td>
        <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
        <td><%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Profile', new_profile_path %>
