<%= form_for(match) do |f| %>
  <% if match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% match.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id_1 %>
    <%= f.number_field :user_id_1 %>
  </div>

  <div class="field">
    <%= f.label :user_id_2 %>
    <%= f.number_field :user_id_2 %>
  </div>

  <div class="field">
    <%= f.label :percent_match %>
    <%= f.number_field :percent_match %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
